<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nexus-repo" value="https://nexus-repo.ci.prod.corner.local/repository/nuget-groupv3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <nexus-repo>
      <add key="Username" value="goli" />
      <add key="ClearTextPassword" value="Munjakis.973" />
    </nexus-repo>
  </packageSourceCredentials>
</configuration>